In [1]:
import numpy as np
import geopandas as gpd
from matplotlib import pyplot as plt
import pandas as pd
from shapely.geometry import Point
import os

In [2]:
dept_num = ["Dept_11-00091", "Dept_23-00089",
            "Dept_24-00013", "Dept_24-00098",
            "Dept_35-00016", "Dept_35-00013",
            "Dept_37-00027", "Dept_37-00049",
            "Dept_49-00009", "Dept_49-00033",
            "Dept_49-00035", "Dept_49-00081"]

In [3]:
class Read:
    def __init__(self, data=""):
        self.data = data
        
    def __str__(self):
        return self.data
        
    def readShapefile(self):
        dept_folder = "cpe-data/" + self.data + "/"
        for folders in os.listdir(dept_folder):
            if "Shapefiles" in folders:
                police_shp_folder = folders
 
        for file in os.listdir(dept_folder + police_shp_folder):
            if ".shp" in file:
                shp_file = file
            
        police_shp_gdf = gpd.read_file(dept_folder + police_shp_folder + '/' + shp_file)
        return police_shp_gdf
    
    def readPrepCSV(self):
        dept_folder = "cpe-data/" + self.data + "/"
        for file in os.listdir(dept_folder):
            if ".csv" in file:
                preped_csv_file = file
                
        return pd.read_csv(dept_folder+preped_csv_file).iloc[1:].reset_index(drop = True)
        
    def readAgeRaceSex(self):
        
        dept_folder = "cpe-data/" + self.data + "/"
        for folders in os.listdir(dept_folder):
            if "ACS" in folders:
                 ACS_folder = folders
                
        for folders in os.listdir(dept_folder + ACS_folder):
            if "race" in folders:
                AgeRaceSex_census_folder = folders
        
        for files in os.listdir(dept_folder + ACS_folder + "/" + AgeRaceSex_census_folder):
            if "ann" in files:
                AgeRaceSex_census_file = files
                
        df = pd.read_csv(dept_folder + ACS_folder + "/" + AgeRaceSex_census_folder + "/" + AgeRaceSex_census_file)
        df.columns = df.iloc[0]
        return df.iloc[1:].reset_index(drop =True)
                
                
            
    def readEmployment(self):
        dept_folder = "cpe-data/" + self.data + "/"
        
        for folders in os.listdir(dept_folder):
            if "ACS" in folders:
                 ACS_folder = folders
                
        for folders in os.listdir(dept_folder + ACS_folder):
            if "employment" in folders:
                Employment_census_folder = folders
        
        for files in os.listdir(dept_folder + ACS_folder + "/" + Employment_census_folder):
            if "ann" in files:
                Employment_census_file = files
        
        df = pd.read_csv(dept_folder + ACS_folder + "/" + Employment_census_folder + "/" + Employment_census_file)
        df.columns = df.iloc[0]
        return df.iloc[1:].reset_index(drop =True)
    
    def readPoverty(self):
        dept_folder = "cpe-data/" + self.data + "/"
        
        for folders in os.listdir(dept_folder):
            if "ACS" in folders:
                 ACS_folder = folders
                
        for folders in os.listdir(dept_folder + ACS_folder):
            if "poverty" in folders:
                Poverty_census_folder = folders
        
        for files in os.listdir(dept_folder + ACS_folder + "/" + Poverty_census_folder):
            if "ann" in files:
                Poverty_census_file = files
                
        df = pd.read_csv(dept_folder + ACS_folder + "/" + Poverty_census_folder + "/" + Poverty_census_file)
        df.columns = df.iloc[0]
        return df.iloc[1:].reset_index(drop =True)
    
    def readEducation(self):
        dept_folder = "cpe-data/" + self.data + "/"
        
        for folders in os.listdir(dept_folder):
            if "ACS" in folders:
                 ACS_folder = folders
                
        for folders in os.listdir(dept_folder + ACS_folder):
            if "education" in folders and "over-25" not in folders:
                Education_census_folder = folders
        
        for files in os.listdir(dept_folder + ACS_folder + "/" + Education_census_folder):
            if "ann" in files:
                Education_census_file = files
                
        df = pd.read_csv(dept_folder + ACS_folder + "/" + Education_census_folder + "/" + Education_census_file)
        df.columns = df.iloc[0]
        return df.iloc[1:].reset_index(drop = True)
        
    
    def readTracts(self):
        pass

In [4]:
# read dept file regarding different region
MA = Read(dept_num[0])
IN = Read(dept_num[1])
MN1 = Read(dept_num[2])
MN2 = Read(dept_num[3])
FL1 = Read(dept_num[4])
FL2 = Read(dept_num[5])
TX1 = Read(dept_num[6])
TX2 = Read(dept_num[7])
CA1 = Read(dept_num[8])
CA2 = Read(dept_num[9])
CA3 = Read(dept_num[10])
CA4 = Read(dept_num[11])

In [11]:
MA_CSV = MA.readPrepCSV()
MA_SHP = MA.readShapefile()
MA_AgeRaceSex = MA.readAgeRaceSex()
MA_Employment = MA.readEmployment()
MA_Poverty = MA.readPoverty()
MA_Education = MA.readEducation()

In [12]:
MA_Education.head()

,Id,Id2,Geography,Total; Estimate; Population 18 to 24 years,Total; Margin of Error; Population 18 to 24 years,Percent; Estimate; Population 18 to 24 years,Percent; Margin of Error; Population 18 to 24 years,Males; Estimate; Population 18 to 24 years,Males; Margin of Error; Population 18 to 24 years,Percent Males; Estimate; Population 18 to 24 years,...,Percent; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Males; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Males; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Males; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Males; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Females; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Females; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Females; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree,Percent Females; Margin of Error; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2015 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
0,1400000US25025000100,25025000100,"Census Tract 1, Suffolk County, Massachusetts",421,120,(X),(X),151,70,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
1,1400000US25025000201,25025000201,"Census Tract 2.01, Suffolk County, Massachusetts",612,167,(X),(X),212,86,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,1400000US25025000202,25025000202,"Census Tract 2.02, Suffolk County, Massachusetts",472,176,(X),(X),230,140,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,1400000US25025000301,25025000301,"Census Tract 3.01, Suffolk County, Massachusetts",394,209,(X),(X),247,155,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,1400000US25025000302,25025000302,"Census Tract 3.02, Suffolk County, Massachusetts",344,151,(X),(X),84,60,(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [7]:
MA_Poverty.head()

,Id,Id2,Geography,Total; Estimate; Population for whom poverty status is determined,Total; Margin of Error; Population for whom poverty status is determined,Below poverty level; Estimate; Population for whom poverty status is determined,Below poverty level; Margin of Error; Population for whom poverty status is determined,Percent below poverty level; Estimate; Population for whom poverty status is determined,Percent below poverty level; Margin of Error; Population for whom poverty status is determined,Total; Estimate; AGE - Under 18 years,...,"Below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Estimate; Worked less than full-time, year-round in the past 12 months","Percent below poverty level; Margin of Error; Worked less than full-time, year-round in the past 12 months",Total; Estimate; Did not work,Total; Margin of Error; Did not work,Below poverty level; Estimate; Did not work,Below poverty level; Margin of Error; Did not work,Percent below poverty level; Estimate; Did not work,Percent below poverty level; Margin of Error; Did not work
0,1400000US25025000100,25025000100,"Census Tract 1, Suffolk County, Massachusetts",3671,364,646,201,17.6,5.5,508,...,135,66,39.8,14.6,460,136,259,117,56.3,16.5
1,1400000US25025000201,25025000201,"Census Tract 2.01, Suffolk County, Massachusetts",3284,325,451,173,13.7,5.1,227,...,163,75,39.3,13.7,237,116,177,115,74.7,19.9
2,1400000US25025000202,25025000202,"Census Tract 2.02, Suffolk County, Massachusetts",3587,493,752,347,21.0,7.9,619,...,50,46,16.5,10.5,307,102,210,93,68.4,16.5
3,1400000US25025000301,25025000301,"Census Tract 3.01, Suffolk County, Massachusetts",2598,356,463,250,17.8,9.5,471,...,53,58,18.8,19.9,183,96,121,95,66.1,27.6
4,1400000US25025000302,25025000302,"Census Tract 3.02, Suffolk County, Massachusetts",2800,328,523,220,18.7,7.8,320,...,193,140,53.3,20.3,268,128,168,110,62.7,23.0

In [8]:
MA_CSV.head()

,INCIDENT_UNIQUE_IDENTIFIER,INCIDENT_UNIQUE_IDENTIFIER.1,SUBJECT_GENDER,LOCATION_FULL_STREET_ADDRESS_OR_INTERSECTION,LOCATION_DISTRICT,LOCATION_DISTRICT.1,INCIDENT_DATE,INCIDENT_TIME,SUBJECT_DETAILS,SUBJECT_RACE,...,VEHICLE_DETAILS.1,OFFICER_SUPERVISOR,OFFICER_ID,OFFICER_ASSIGNMENT,OFFICER_ASSIGNMENT.1,OFFICER_ETHNICITY,OFFICER_RACE,OFFICER_AGE,LOCATION_STREET_NUMBER,LOCATION_CITY
0,938283,621880,MALE,NORMANDY ST at SUPPLE RD,B2,3,12/10/13 0:00,12/10/13 0:00,YES,B(Black),...,MA,10132,98656,9999,OTHER,NaN,B(Black),59,3274,NO DATA ENTERED
1,881897,565177,MALE,75 BOYLSTON ST,A1,1,5/24/12 0:00,5/24/12 0:00,NO,W(White),...,NO DATA ENTERED,8949,9765,1,A1,NaN,W(White),26,543,OTHER
2,882060,565340,MALE,5 TOPLIFF ST,C11,5,6/4/12 0:00,6/4/12 0:00,YES,B(Black),...,NO DATA ENTERED,11312,83575,16,YVSF,NaN,B(Black),18,4493,NO DATA ENTERED
3,971623,653895,MALE,170 MORTON ST,B2,3,6/21/14 0:00,6/21/14 0:00,YES,B(Black),...,NO DATA ENTERED,9375,76146,25,BIKE,NaN,B(Black),24,3094,Dorchester
4,882761,566043,MALE,0 ST ALPHONSUS ST,B2,3,12/2/10 0:00,12/2/10 0:00,YES,B(Black),...,MA,NaN,107106,3,B2,NaN,B(Black),70,4241,Dorchester

After viewing the columns, LOCATION_DISTRICT of shapefile and

In [10]:
TX1_CSV = TX1.readPrepCSV()
TX1_SHP = TX1.readShapefile()
TX1_AgeRaceSex = TX1.readAgeRaceSex()
TX1_Employment = TX1.readEmployment()
TX1_Poverty = TX1.readPoverty()
TX1_Education = TX1.readEducation()